/* Your code goes here */



.grid{
    display: flex;
}

.gutters .div {
    padding: 10px 0 0 10px;
}

.gutters{
    margin: -8px 0 8px -8px; 
}

.half{
    flex-basis: 50%;
}

.third{
    flex-basis: 33.33333%;
}

.fourth{
    flex-basis: 25%;
}

.fifth{
    flex-basis: 20%;
}

.sixth{
    flex-basis: 16.66666%;
}

.grid div div{
    background-color: #555;
    padding: 5px;   
    margin: 5px;
}




