/* Your code goes here */

/*
- 1 header, 3 columns, 1 footer
- 3 columns always same height
- Footer sticky at bottom
- Content first in HTML
- Content fluid size
- Minimal markup
*/

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Should take at least the minimum available height on the screen */
    margin: 0;
}

#main{
    display: flex;
    flex-grow: 1;
}

#content{
    flex: 4 1 0%;
}


#secondary{
    flex: 1 1 0%;
    order: -1;
}

#tertiary{
    flex: 1 1 0%;
    
}

#header, #footer{
    text-align: center;
    padding: 20px;
}

#main *{
    padding: 20px;
    border: 1px solid #555;
}
