/* Your code goes here */

.vcenter{
    display: flex;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
    height: 150px;
    `
}

nav{
    width: 400px;
}

li{
    list-style: none;
    flex-basis: 25%;
    
}

